<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <priority value="ALL" />
    </root>
    <logger name="Elders.Multithreading.Scheduler.WorkProcessor">
      <level value="ERROR" />
    </logger>
  </log4net>
</configuration>
