<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="Hystrix.Plugin.IHystrixMetricsPublisher.Implementation" value="Hystrix.Example.AtlasPublisher,Hystrix.Example" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="fileTarget" fileName="Log.txt" layout="${log4jxmlevent}" />
      <target xsi:type="MethodCall" name="methodTarget" className="Hystrix.Example.MainWindow, Hystrix.Example" methodName="LogStatic">
        <parameter layout="${level}" />
        <parameter layout="${message}" />
      </target>
    </targets>
    <rules>
      <logger writeTo="fileTarget, methodTarget" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
