<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.3" targetFramework="net46" />
  <package id="Multithreading.Scheduler" version="1.0.1" targetFramework="net46" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
  <package id="Servo" version="0.1.0-beta0003" targetFramework="net46" />
  <package id="Servo.Atlas" version="0.1.0-beta0006" targetFramework="net46" />
  <package id="slf4net" version="0.1.32.1" targetFramework="net45" />
  <package id="slf4net.NLog" version="0.1.32.1" targetFramework="net45" />
</packages>